@mixin primary-small {
  font-size: 26px;
  line-height: 1.25rem;
}

@mixin primary-large {
  font-size: 30px;
  line-height: 1.25rem;
}

@mixin secondary-small {
  font-size: 20px;
  line-height: 1.35rem;
}

@mixin secondary-large {
  font-size: 22px;
  line-height: 1.35rem;
}

@mixin tertiary {
  font-size: 18px;
  line-height: 1.5rem;
}
