@use 'colours';
@use 'typography';

.member-card {
  background: colours.$background;
  margin: 0 auto;

  &-image {
    border-radius: 50%;
    border-style: solid;
    display: block;
  }

  &-party {
    color: colours.$grey2;
  }

  &-name {
    color: colours.$brand;
    font-weight: bold;
  }

  &-constituency {
    @include typography.tertiary;
    color: colours.$grey2;
  }

  &-status {
    @include typography.tertiary;
    background-color: colours.$grey1;
    border-radius: 10px;
    color: colours.$alert;
    font-weight: bold;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .member-card {
    border-top: 5px solid colours.$brand;
    display: flex;
    padding: 15px 15px 10px;

    &-image {
      border-width: 3px;
      height: 60px;
      margin-right: 20px;
      width: 60px;
    }

    &-content {
      flex: 1;
    }

    &-party {
      @include typography.secondary-small;
      margin-bottom: 5px;
    }

    &-name {
      @include typography.primary-small;
      margin-bottom: 15px;
    }

    &-status {
      padding: 10px 15px;
    }
  }
}

@media screen and (min-width: 501px) {
  .member-card {
    border-left: 5px solid colours.$brand;
    padding: 20px 20px 15px;
    width: 450px;

    &-image {
      border-width: 5px;
      height: 100px;
      margin-bottom: 20px;
      width: 100px;
    }

    &-party {
      @include typography.secondary-large;
      margin-bottom: 15px;
    }

    &-name {
      @include typography.primary-large;
      margin-bottom: 20px;
    }

    &-status {
      padding: 15px;
    }
  }
}
